.menu {
  max-width: 1176px;
  margin: 120px auto 0;
  .badge {
    margin: 0 auto;
  }

  .button {
    margin-top: 96px !important;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
